* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-y: auto; /* allows scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-image: url("/body.jpeg");
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* 🧩 Hide scrollbars in Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* global.css or component CSS */
@media print {
  .no-print {
    display: none !important; /* Ensure hidden even if inline styles exist */
  }
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(0) invert(1);
  }
}
