* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-y: auto; /* allows scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-image: url("/body.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* 🧩 Hide scrollbars in Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  display: none;
}
